<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>匿名掲示板</h1>
</div>
<div class="main-contents">
    <a href="/new">
        <button class="new-button" type="button">新規投稿</button>
    </a>

    <form action="/search" method="get">
        日付：<input type="date" name="startTime" th:value="${startTime}">～
        <input type="date" name="endTime" th:value="${endTime}">
        <input type="submit" value="絞込">
    </form>

    <div class="message-icon" th:each="content : ${contents}">
        <div>
            ID : <span th:text="${content.id}"/>
        </div>
        <div class="text">
            投稿 : <span th:text="${content.content}"/>
        </div>
        <div class="text">
            <span th:text="${#dates.format(content.updatedDate, 'yyyy/MM/dd HH:mm:ss')}"></span>
        </div>

        <form th:action="@{/deleteContent/{id}(id=${content.id})}" th:method="delete">
            <button type="submit">削除</button>
        </form>
        <form th:action="@{/editContent/{id}(id=${content.id})}" th:method="get">
            <button type="submit">編集</button>
        </form>
        <form method="post" action="/comment" th:object="${formModel}">
            <div class="form-area">
                <if th:if ="${errorId == content.id}">
                    <div class="errorMessages" th:each="errorMessage : ${errorMessages}">
                        <span th:text="${errorMessage}"/>
                    </div>
                </if>
                <label>返信</label>
                <input type="hidden" name="reportId" th:value="${content.id}">
                <textarea name="comment" class="tweet-box" size="20" maxlength="200" /></textarea><br/>
                <input type="submit" value="返信" />
            </div>
        </form>

        <div class="comments" th:each="comment : ${comments}">
            <th:block th:if="${comment.reportId} == ${content.id}">
                <div class="text">
                    コメント : <span th:text="${comment.comment}"/>
                </div>
                <div class="text">
                    <span th:text="${#dates.format(comment.updatedDate, 'yyyy/MM/dd HH:mm:ss')}"></span>
                </div>
                <div class="delete-button">
                    <form th:action="@{/deleteComment/{id}(id=${comment.id})}" th:method="delete">
                        <input type="submit" value="削除">
                    </form>
                </div>
                <div class="edit-button">
                    <form th:action="@{/editComment/{id}(id=${comment.id})}" th:method="get">
                        <button type="submit">編集</button>
                    </form>
                </div>

            </th:block>
        </div>
    </div>
</div>
</body>
</html>
